html,
body{
    height: 100%;
}

/* cover */
#cover {
    background: #222 url('chicago.jpg') no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.avatar{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-repeat: no-repeat;
    background-position: : center center;
    background-size: cover;
    
}

.myavatar{
    background-image: url(public/img/profile.JPG)
}


#cover-caption {
    width: 100%;
}


.caption-btn{
    margin: 0px 5px;
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px;
    border-color: white;
    color: white;
}

.caption-btn:hover{
    margin: 0px 5px;
    background-color: transparent;
    border-radius: 20px;
    border-color: white;
    color: black;
}

a.social:link{
    color: white;
}

a.social:hover{
    color: black;
}

a.social:visited{
    color: white;
}

a.social:active{
    color: white;
}

.mysocial a{
    margin: 0px 20px;
}

img {
   max-width: 100%; 
}